
.homepage-wrap {
    padding: 5rem 0 0 0  ;
}

.SoberLiving-title {
    text-align: center;
}  

.SoberLiving-title h1 {
    font-size: 3rem;
    font-weight: bold;
    color: rgb(57, 58, 58);
    line-height: 3.5rem;
    font-family: 'Roboto', sans-serif;}

.SoberLiving-title p {
    font-size: 16px;
    padding: 1rem;
    color: rgb(57, 58, 58);

}

  .SoberLiving-box {
      height: auto;
      display: inline-block;
      margin: 1rem;
  }
  
  .homepage-wrap li {
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    color: rgb(57, 58, 58);

}
  
  .box-btn {
      text-align: center;
  }

