

.section3 {
    padding: 3rem 0 ;
}



.section3-content {
    text-align: center;
    padding: 2rem;
}  

.section3-content h1 {
    font-size: 3rem;
    font-weight: bold;
    color: rgb(57, 58, 58);
    font-family: 'Roboto', sans-serif;
}

.section3-content p {
    font-size: 18px;
    color: rgb(57, 58, 58);
}


@media screen and (max-width:940px)  {
    .section3-content h1 {
        font-size: 2rem;
    }
}

  

